
.inter-interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.raleway-ralewayFont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
                                                                   
.bg_color{                                                                  /*Banner Part*/
  background-image: url('Styles/Hero-bg.png');
}
.bgwhite{
   background-color: #FFFFFF;
}

nav{
  display: flex;
 justify-content: space-between;
 margin: 0px 150px 0px 150px;

}
.Logo{
    color: #4E47FF;
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: 900;
    margin-top: 0px;
    padding-top: 50px;
}
.signup_bttn{
  width: 132px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #4E47FF;
  border-radius: 7px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
.signup_bttn:hover{
  background-color: rgb(44, 252, 189);
}

.bannerContent_container{
  width: 905px;
  height: 189px;
  text-align: center;
  margin: 158px 268px 0px 258px;
  /* margin-top: 158px;
  margin-left: 600px;
  margin-right: 267.5px; */
    font-weight: 700;
  font-size: 65px;
  color: #252432;
  margin-top: 158px;
}

.focused_bttn{
  width: 174px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #4E47FF;
  border-radius: 7px;
  border: none;
  margin-top: 37px;
  cursor: pointer;
  margin-left: 595px;
  margin-right: 633px;
  margin-bottom: 152px;
}
.focused_bttn:hover{
  background-color: rgb(44, 252, 189);
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.see{                                                                   /*ACTION PART*/
  font-weight: 700;
  font-size: 42px;
  color: #252432;
  margin-bottom: 23px;

} 
.action_content{
  font-weight: 400;
  font-size: 24px;
  color: #252432;
   margin-bottom: 23px;
}         
.preview{
  width: 229px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #4E47FF;
  border-radius: 7px;
  border: none;
  margin-top: 2px;
  cursor: pointer;
  /* margin-left: 633px;
  margin-right: 633px; */
  /* margin-bottom: 62.5 px; */
}       
.preview:hover{
  background-color: rgb(44, 252, 189);
}    

.See_it_in{
  width: 517 px;
  height: 203 px;
  padding: 40px 220px 0px 0px;
  /* margin-bottom: 62.5 px; */
}
.Action_img{
  width: 400px;
  height: 320px;
  border-radius: 48px;
}
.Action_Part{
  display: flex;
  width: 1140px;
  height: 328px;
  /* margin-left: 41px;
  margin-right: 59px;
  margin-bottom: 62.5 px; */
  margin: 70px 50px;
  margin-bottom: 116px;

}
.user_BGColor{                                                   /*PRODUCTIVE USER SECTION*/
  width: 981px;
  height: 201px;
  /* width: 980px;
  height: 306px; */
  /* padding: 30px 90px; */
    /* padding: 20px 100px 195px 100px; */
 
  border-radius: 24px;
  background-color: #dadaf7;
  text-align: center;
  padding: 80px 20px;
  max-width: 1140px;
  margin: 40px auto;
    margin-bottom: 130px;
  /* border: 1px solid black; */

}   
.productv_heading{
  font-weight: 700;
  font-size: 38px;
  color: #252432;
 
  /* width: 999px;
  height: 45px; */
   /* padding-top: 50px; */
  /* margin-bottom: 1px;  */
  /* border: 1px solid black; */

  /* padding-left: 142px;
  padding-right: 142px; */
} 
.active{
  display: flex;
  flex-direction: column;
  align-items: center;

 
} 
.number{
  font-weight: 700;
  font-size: 80px;
  color: #4E47FF;
  margin: 0;
}    
.label{
  font-weight: 400;
  font-size: 20px;
  color: #928e8e;
  margin-top: 5px;


}    

.ac_fo_sa{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  /* justify-content: space-around; */
  /* justify-content: space-around; */
  /* padding: 50px 142px; */
}

.feedback_heading{                                                     /*FEEDBACK PART*/
  font-weight: 700;
  font-size: 42px;
  color: #252432;
  margin-bottom: 50px;
  text-align: center;
}
.Loved_by{
  color: #1E1E1E;
  /* font-size: 16px; */
  font-weight: 700;
}
.vertex{
  font-weight: 400;
  /* font-size: 16px; */
  color: #1E1E1E;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.reviwer{
  font-weight: 600;
  color: #757575;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0%;
  /* border: 1px solid black; */
  /* padding-top: 20px; */
}
.date{
  color: #B3B3B3;
  margin: 0%;
  margin-left: 10px;
  padding-top: 3px;
  /* border: 1px solid black; */
  /* display: flex;
  flex-direction: column;
  text-align: center; */

    /* margin-top: 0px;
    padding-top: 0%;
    margin-left: 5px;
    padding-bottom: 7px; */
  
}
.avatar_container{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* width: 300px;
  height: 40px; */
}
.designer{
  width: 300px;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 50px 0px  #dbdada;
  padding: 20px;
  margin: 10px;
  border-radius: 14px;
  
}
.feedback_container{
  display: flex;
  margin-bottom: 137px;
  margin-left: 50px;
  margin-right: 40px;
  
}

 
.ready_container{                                                                 /*READY TO FOCUS BETTER*/ 
  width: 1100px;
  height: 600px;
  background: #FFFFFF;
  box-shadow: 0px 5px 50px 0px #dfdcdc;
  margin-left: 50px;
  margin-right: 40px;
  margin-bottom: 70px;
  padding-bottom: 70px;
  
}
.ready_heading{                                                              
font-weight: 700;
font-size: 50px;
color: #000000;
text-align: center;
padding-top: 60px;
/* padding-bottom: 0px; */
/* border: 1px solid black;  */
margin: 0;
  margin-left: 200px;
  margin-right: 160px;

}
.r_content{
  padding-top: 8px;
  text-align: center;
  color: #a19a9a;
  font-weight: 500;
  padding-bottom: 10px;
  /* border: 1px solid black;  */
  margin-left: 190px;
  margin-right: 150px;
}
.get_bttn{
  margin-left: 450px;
  margin-bottom: 20px;
}
.better{
  width: 800px ;
  height: 350px;
  margin-left: 180px;
  margin-right: 160px;
  border-radius: 48px;

}