
.inter-interFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.raleway-ralewayFont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
                                                                   
.bg_color{                                                                  /*Banner Part*/
  background-image: url('Styles/Hero-bg.png');
}
.bgwhite{
   background-color: #FFFFFF;
}

nav{
  display: flex;
 justify-content: space-between;
 margin: 0px 150px 0px 150px;

}
.Logo{
    color: #4E47FF;
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: 900;
    margin-top: 0px;
    padding-top: 50px;
}
.signup_bttn{
  width: 132px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #4E47FF;
  border-radius: 7px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
.signup_bttn:hover{
  background-color: rgb(44, 252, 189);
}

.bannerContent_container{
  width: 905px;
  height: 189px;
  text-align: center;
  margin: 158px 268px 0px 258px;
  /* margin-top: 158px;
  margin-left: 600px;
  margin-right: 267.5px; */
    font-weight: 700;
  font-size: 65px;
  color: #252432;
  margin-top: 158px;
}

.focused_bttn{
  width: 174px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #4E47FF;
  border-radius: 7px;
  border: none;
  margin-top: 37px;
  cursor: pointer;
  margin-left: 595px;
  margin-right: 633px;
  margin-bottom: 152px;
}
.focused_bttn:hover{
  background-color: rgb(44, 252, 189);
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.see{                                                                   /*ACTION PART*/
  font-weight: 700;
  font-size: 42px;
  color: #252432;
  margin-bottom: 23px;

} 
.action_content{
  font-weight: 400;
  font-size: 24px;
  color: #252432;
   margin-bottom: 23px;
}         
.preview{
  width: 229px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #4E47FF;
  border-radius: 7px;
  border: none;
  margin-top: 2px;
  cursor: pointer;
  /* margin-left: 633px;
  margin-right: 633px; */
  /* margin-bottom: 62.5 px; */
}       
.preview:hover{
  background-color: rgb(44, 252, 189);
}    

.See_it_in{
  width: 517 px;
  height: 203 px;
  padding: 40px 220px 0px 0px;
  /* margin-bottom: 62.5 px; */
}
.Action_img{
  width: 400px;
  height: 320px;
  border-radius: 48px;
}
.Action_Part{
  display: flex;
  width: 1140px;
  height: 328px;
  /* margin-left: 41px;
  margin-right: 59px;
  margin-bottom: 62.5 px; */
  margin: 70px 50px;
  margin-bottom: 116px;

}


  